## Reading Data

In [1]:
#import library
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

In [3]:
# load database di directory
path = '../baseball.db'

#buat koneksi dengan database
con = sq3.Connection(path)

In [6]:
# buat Query
query = """
SELECT *
    FROM allstarfull
    ;
"""

In [7]:
allstar_observations = pd.read_sql(query, con)

DatabaseError: Execution failed on sql '
SELECT *
    FROM allstarfull
    ;
': no such table: allstarfull

In [8]:
# Create a variable, tables, which reads in all data from the table sqlite_master
all_tables = pd.read_sql('SELECT * FROM sqlite_master', con)
print(all_tables)

# Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players
best_query = """
SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY num_games_played DESC, avg_starting_position ASC
    LIMIT 3
"""
best = pd.read_sql(best_query, con)
print(best.head())
### END SOLUTION

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

DatabaseError: Execution failed on sql '
SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY num_games_played DESC, avg_starting_position ASC
    LIMIT 3
': no such table: allstarfull